# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VENV
# =========================
.venv/
venv/
env/

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# CACHE
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# DATABASE
# =========================
*.sqlite3

# =========================
# EXPORT FILES (ВАЖНО)
# =========================
storage/
app/storage/

# =========================
# BUILD
# =========================
dist/
build/
*.egg-info/

# =========================
# DOCKER
# =========================
docker-compose.override.yml